.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    column-gap: 5px;
    ;
}

img {
    height: 200px;
    margin: 10px 10px 0;
    max-width: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.votetext {
    display: "inline-flex";
    margin-top: 14;
    margin-left: 20;
}

.buttonbar {
    width: 230px;
    height: 50px;
    border: 1px solid;
    position: relative;
    background-color: pink;
    border: pink;
    padding: 5px;
}

.item {
    margin: 20px 5px;
    width: 240px;
    height: 240px;
    background-color: whitesmoke;
    align-content: center;
}